@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Spartan", sans-serif;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	line-height: 72px;
}

h2 {
	font-size: 40px;
	line-height: 56px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
}

p {
	font-size: 15px;
}

header {
	padding-bottom: 275px;
}

section {
	padding: 0px 24px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header_content {
	display: grid;
	padding: 60px 20px 120px 20px;
	grid-row-gap: 30px;
	position: relative;
	top: 190px;
}

.header {
	background-color: #111111;

	color: white;
}

.header_imgTop {
	background-image: url("./herobgmobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	background-position: center;
	mix-blend-mode: normal;
}

.header_h1 {
	font-weight: 300;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	letter-spacing: -0.6px;
	margin: 0;
	margin-top: 20px;
}

.logo {
	display: flex;
	justify-content: center;
	animation: 900ms ease-in 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}

	100% {
		transform: translate(0);
		opacity: 1;
	}
}

.btn {
	width: 100%;
	outline: none;

	background-color: #111111;
	padding: 24px 58px;
	text-transform: uppercase;
	color: white;
	font-weight: 300;
	border: 1px solid #ffffff;
	height: fit-content;
	letter-spacing: 0.2rem;
	font-size: 14px;
	line-height: 28px;
}

.btn:hover {
	color: #17192b;
	background: #ffffff;
	border: 1px solid #ffffff;
	transition: background-color 0.5s;
}

.header_text {
	line-height: 25px;
	font-size: 15px;
	letter-spacing: -0.225px;
	margin: 0px;
}

@media (min-width: 768px) {
	.header_imgTop {
		background-image: url("./herobgmobile.jpg");

		padding-top: 167px;
		padding-left: 97px;
		padding-right: 98px;
		padding-bottom: 167px;
	}

	section {
		padding-top: 0px;
		padding-left: 97px;
		padding-right: 98px;
	}

	.header_content {
		margin-top: 25%;
		padding: 0px;
		top: 0px;
	}

	.header_h1 {
		font-size: 48px;
		line-height: 64px;
	}

	.header_text {
		font-size: 18px;
	}

	header {
		padding-bottom: 0px;
	}
}

@media (min-width: 992px) {
	header {
		padding-bottom: 0px;
	}

	section {
		padding: 67px 165px;
	}

	.header_imgTop {
		background-image: url("./hero-bg.jpg");
		background-position-x: right;
		padding: 67px 165px;
	}

	.header_content {
		margin-top: 0px;
		grid-template-rows: 1fr 1fr 90px 1fr;
		max-width: 511px;
		top: 0px;

		display: grid;
		/* padding: 60px 20px 120px 20px; */
		padding: 0px;
		grid-row-gap: 30px;
		position: relative;
	}

	.center {
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
	}

	.header_h1 {
		padding: 0px;
		font-size: 64px;
		width: 520px;
	}

	.header_text {
		width: 89%;
		line-height: 30px;
		letter-spacing: -0.225px;
	}

	.btn {
		width: auto;
	}
}

/********************** About ***********************/
.About {
	display: grid;
	justify-items: center;
	position: relative;
	margin-bottom: 80px;
}

.About_textBlock h2 {
	font-size: 32px;
	line-height: 40px;
}

.About_textBlock p {
	font-size: 15px;
	line-height: 30px;
	/* or 167% */

	letter-spacing: -0.225px;
}

.About_ImageHolder {
	position: relative;

	width: 300px;
}

.About_ImageHolder--left {
	top: -50px;
}

.About_ImageHolder--right {
	top: auto;
	order: 1;
}

.About_text_right {
	order: 2;
}

.vector_decoration {
	margin-top: 2px;
	margin-bottom: 48px;
}

.vector_decoration_bottom {
	margin-top: 48px;
	margin-bottom: 48px;
}

.About_ImageHolder .vector_decoration {
	position: relative;
	/* top: -60px; */
}

.About_decorationBox {
	display: none;
}

.About_text {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;

	min-width: 324px;
	max-width: 430px;
}

.img-responsive {
	max-width: 100%;
	height: auto;
}

.hidden_in_moblietablet {
	display: none;
}

@media (min-width: 768px) {
	.About_decorationBox {
		display: block;
		z-index: -1;
		position: absolute;
	}

	.About_decorationBox_left {
		top: 20%;
		justify-self: left;
	}

	.About_decorationBox_right {
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		justify-self: right;
		top: 75%;
	}

	.About_ImageHolder {
		width: 100%;
	}

	.About_textBlock p {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.About_decorationBox_right {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		justify-self: right;
		top: 40%;
	}

	.hidden_in_moblietablet {
		display: block;
	}

	.hidden_in_desktop {
		display: none;
	}

	.About {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: normal;
		grid-column-gap: 125px;
		margin-bottom: 0px;
		padding-top: 20px;
		padding-bottom: 0px;
		padding-right: 165px;
		padding-left: 165px;
	}

	.About_left {
		padding-bottom: 20px;
	}

	.About_Right {
		padding-bottom: 0px;
	}

	/* .About_left {
		top: -70px;
	} */
	.About_ImageHolder--left {
		top: -70px;
	}

	.About_ImageHolder {
		z-index: 1;
	}

	.About_text {
		position: relative;
		top: 15%;
		display: grid;
		text-align: left;
		grid-template-rows: 0px 108px;
	}

	.About_text_left {
		justify-self: auto;
	}

	.About_text_right {
		justify-self: end;
		order: 1;
	}

	.About_ImageHolder--right {
		top: auto;
		order: 2;
	}

	.About_textBlock {
		display: grid;
		grid-template-rows: 34px 6rem auto;
	}

	.About_decorationBox {
	}

	.vector_decoration {
		top: auto;
	}

	.AboutTwo {
		position: relative;
		display: grid;
		justify-content: end;
		grid-template-columns: 1fr 1fr;
	}

	.About_text_two {
		position: relative;
		top: 15%;
		display: grid;
		text-align: left;
		grid-template-rows: 0px 108px;
		max-width: 420px;
		justify-self: end;
	}
}

/*********************************Menu****************************/
.Menu {
	display: flex;
	flex-wrap: wrap;
	background-color: #111111;
	color: #ffffff;
	justify-content: center;
	padding-bottom: 82px;
}

.menu_image {
}

.menu_header_text {
	margin-top: 32px;
}

.menu_header_text p {
	margin-top: 16px;
}

.Menu_header {
	margin-bottom: 64px;
	margin-top: 62px;
}

.menu_text {
	margin-top: 32px;
}

.menu_text p {
	margin-top: 4px;
}

.Menu h3 {
	font-size: 32px;
	line-height: 40px;
	letter-spacing: -0.4px;
}

.Menu h4 {
	font-size: 18px;
}

.menu_hr {
	background: #ffffff;
	height: 1px;
	opacity: 0.15;
	margin: 24px 0px;
}

.Menu p {
	line-height: 25px;

	letter-spacing: -0.1875px;
}

.Menu_Sections:first-child {
	margin-top: 0px;
}

.Menu_Sections p {
	margin-top: 4px;
}

.Menu_Sections {
	margin: 25px 0px;
	position: relative;

	min-width: 327px;
}

.menu_linedeco {
	display: none;
}

@media (min-width: 768px) {
	.menu_linedeco {
		display: inline-block;
	}

	.menu_header_text {
		padding: 0px 100px;
	}

	.Menu {
		padding-bottom: 97px;
	}

	.menu_linedeco {
		position: absolute;
		top: 15%;
	}

	.menu_image {
		width: 127px;
		margin-right: 7%;
	}

	.menu_text {
		margin-top: 0px;
	}

	.Menu_Sections {
		display: flex;
		width: auto;
	}

	.menu_text {
		text-align: left;
	}
}

@media (min-width: 992px) {
	.Menu {
		display: flex;
		flex-wrap: nowrap;
		padding-top: 200px;
		position: relative;
		top: -60px;
	}

	.Menu p {
		width: 397px;
	}

	.menu_header_text {
		padding: 0px;
	}

	.Menu_header {
		margin-top: 0px;
		margin-right: 125px;
	}

	.Menu h3 {
		width: 297px;
	}
}
